.profile-picture{
    position: absolute;
    width: 50px;
    left:-3.8rem;
    bottom: 0.5rem;
    border-radius: 50%;
    
       
}

.profile-container{
  position: relative;
  padding-bottom:2rem;
  margin-right: 2rem;
    
}



