.Ticket-container{
    position: relative;
 padding: 0 2rem 2rem 2rem;
 margin: 1rem auto;
 height: 300px;
 width: 450px;

}

.Ticket-img{
    display: block;
    height: 190px;
    width: 300px;
}

.Ticket-btn{
    
}