@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.Ticket-container{
    position: relative;
 padding: 0 2rem 2rem 2rem;
 margin: 1rem auto;
 height: 300px;
 width: 350px;
 border: 2px solid #FDEF96;
 flex-direction: column;
 justify-content: center;
 background-color: #AFA939;
 color:white;
 box-shadow: 0 2px 2px 2px rgb(241, 238, 238);

}

.Ticket-img{
    display: block;
    height: 150px;
    width: 200px;
    margin: auto;
    border-radius: 10%;
}

.Ticket-header{
    font-weight: 200;
    font-size: larger;
    letter-spacing: 1px;
    font-family: "Quicksand";
}

.Ticket-paragraf{
    font-family: "Quicksand";
    letter-spacing: 2px;
    text-align: center;
}

.Ticket-btn{
   text-align: center;
   background-color: #FDEF96;
   padding:0.32rem; 
    width: 90px;
   border-radius: 10%;
   margin-right: 1rem;
}

.Ticket-price{
    display: inline-block;
    border: 1px black solid;
    background-color: green;
    border-radius: 10%;
    padding: 0.2rem;
    
    
}