

footer{
    background-color:#FDEF96;
position: fixed;
bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 4;
    

}

.weather-container{
    position: relative;
    margin-top: 1.2rem;
    color: #2B580C;
    font-weight: 600;

}

.weather-img{
    height: 40px;
position: absolute;
top: -0.5rem;
   
}